/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');


*
{
    margin: 0;
    padding: 0;
}

html,body
{
    height: 100%;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}



.container
{
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.main-body
{
    width: 330px;
    background-color: hsl(0, 0%, 100%);
    border-radius:20px ;
    box-shadow: 0px 12px 12px 0px rgba(128, 128, 128, 0.1);
    
}

#qr-image
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

img
{
    max-width: 300px;
    border-radius: 15px;
}

#content
{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 23px;
    text-align: center;
}

#content #first
{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

#content #second
{
    font-size: 16px;
    margin-top:0px;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    color:  hsl(220, 15%, 55%);
}

/* @media screen and (max-width:375px) {
    .container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

        
    }
    .main-body
    {
        max-width: 100%;
        margin: 10px;
    }
} */

@media screen and (max-width: 375px) {
    .container
    {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      height: auto;
    }

    .main-body
    {
      width: 100%;
      margin: 10px;
      border-radius: 10px;
      box-shadow: none;
    }

    #qr-image
    {
      margin: 10px;
    }

    img
    {
      max-width: 100%;
      border-radius: 8px;
    }

    #content
    {
      margin: 10px;
      margin-top: 10px;
      margin-bottom: 20px;

    }

    #content #first
    {
      font-size: 15px;
      padding: 5px;
    }
    
    #content #second
    {
      font-size: 10px;
      margin-top: 5px;
      padding: 5px;
    }
}

@media screen and (min-width:375px) and (max-width:418px) {
  .container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: auto;
  }

  .main-body
  {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: none;
  }

  #qr-image
  {
    margin: 10px;
  }

  img
  {
    max-width: 100%;
    border-radius: 8px;
  }

  #content
  {
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  #content #first
  {
    font-size: 15px;
    padding: 5px;
  }
  
  #content #second
  {
    font-size: 10px;
    margin-top: 5px;
    padding: 5px;
  }
}

@media screen and (min-width:418px) and (max-width:667px) {
  .container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: auto;
  }

  .main-body
  {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: none;
  }

  #qr-image
  {
    margin: 10px;
  }

  img
  {
    max-width: 100%;
    border-radius: 8px;
  }

  #content
  {
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  #content #first
  {
    font-size: 25px;
    padding: 5px;
  }
  
  #content #second
  {
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
  }
}

@media screen and (max-width:259px)  {
  .container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: auto;
  }

  .main-body
  {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: none;
  }

  #qr-image
  {
    margin: 10px;
  }

  img
  {
    max-width: 100%;
    border-radius: 8px;
  }

  #content
  {
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  #content #first
  {
    font-size: 15px;
    padding: 5px;
  }
  
  #content #second
  {
    font-size: 10px;
    margin-top: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
    .container
    {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      height: auto;
    }

    .main-body
    {
      width: 100%;
      margin: 10px;
      border-radius: 10px;
      box-shadow: none;
    }

    #qr-image
    {
      margin: 10px;
    }

    img
    {
      max-width: 100%;
      border-radius: 8px;
    }

    #content
    {
      margin: 10px;
      margin-top: 10px;
      margin-bottom: 20px;

    }

    #content #first
    {
      font-size: 15px;
      padding: 5px;
    }
    
    #content #second
    {
      font-size: 10px;
      margin-top: 5px;
      padding: 5px;
    }
}

@media screen and (min-width:667px) {
  .container
  {
    height: auto;
  }
}


